body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    border: 2px solid black;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
  }
  .block {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .block:nth-child(1) {
      background-color: tomato;
      flex-basis: 50%;
      order: 1;
  }
    
  .block:nth-child(2) {
      background-color: steelblue;
      order: 4;
      flex-grow: 1;
  }
    
  .block:nth-child(3) {
      background-color: rebeccapurple;
      order: 3;
      flex-grow: 1;
  }
    
  .block:nth-child(4) {
      background-color: green;
      order: 5;
      flex-grow: 1;
  }
    
  .block:nth-child(5) {
      background-color: orange;
      flex-basis: 50%;
      order: 2;
  }