.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.song{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

p{
    display: none;
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    color: black;
}

.open{
    display: block;
}