.achievements-all {
    background-color: $white;
    padding-top: 80px;
    display: flex;
}
.achievements {
    display: flex;
}
.achievements__innovation {
    width: 526px;
    background-color: $dgreen;
    padding-top: 35px;

    &__button {
        width: 125px;
        background-color: $lgreen;
        margin: 0 30px 30px 40px;
        padding: 9px 15px;
        display: flex;
        justify-content: center;
        
        > a {
            font-size: 18px;
            line-height: 21px;
            text-decoration: none;
            color: $white;  
        }   
    }

    &__text {
        width: 485px;
        font-size: 30px;
        line-height: 150%;
        color: $white;
        margin-left: 40px;
    }

    &__more {
        width: 170px;
        display: flex;
        justify-content: space-between;
        margin: 25px 316px 45px 40px;

        &_arrow-right {
            background-image: url(../images/Frame-right.png);
            width: 50px;
            height: 40px;
            border: 1px solid $white;
            background-repeat: no-repeat;
        }

        &_more-text {
            font-size: 16px;
            line-height: 24px;
            text-decoration: none;
            color: $white;
            padding: 8px 0 8px 10px;
            text-transform: uppercase;
        }
    }

    &__picture {
        margin-top: 45px;
    }
}

.achievements__beauty-aesthetics {
    width: 636px;
    background-color: $white;
    background-image: url(../images/patent.png);
    background-position: 300px 50px;
    background-repeat: no-repeat;
    margin-left: 134px;
    padding-top: 30px;

    &__centers {

        &_button {
            width: 156px;
            background-color: $lgreen;
            padding: 9px 15px 10px 15px;
            text-align: center;

            > a {
                font-size: 18px;
                line-height: 21px;
                color: $white;
                text-decoration: none;  
            }
        }

        &_list {
            margin: 30px 0;

            &-grey {
                width: 250px;
                display: flex;
                flex-wrap: wrap;
            

                .number {
                    width: 50px;
                    font-size: 48px;
                    line-height: 72px;
                    color: $black-transparent;
                }

                .meaning {
                    width: 144px;
                    font-size: 14px;
                    line-height: 21px;
                    color: $black-transparent;
                    margin: 13px;
                }
            }

            &-green {
                width: 500px;
                display: flex;
                flex-wrap: wrap;

                .number-green {
                    width: 100px;
                    font-size: 96px;
                    line-height: 150%;
                    color: $dgreen;
                }
                
                .meaning-green {
                    width: 319px;
                    font-size: 28px;
                    line-height: 150%;
                    color: $black;
                    margin: 30px;
                }
            }
            
        }
    }
}
