.catalog{

}
.container{
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}
.col-item{
    width: 100%;
    margin-bottom: 20px;
}
.catalog-item{
    padding: 0 15px 35px;
    height: 360px;
}

.catalog-item_image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.catalog-item_image img{
    max-width: 300px;
    width: 100%;
}

.catalog-item_title{
    text-align: center;
    margin-bottom: 40px;
}
.catalog-item_title h4{
    margin-bottom: 0;
}
.catalog-item_title h4 a{
    text-transform: uppercase;
    text-decoration: none;
    color: #dd7639;
    font-family: BlockProCondensed,Arial,sans-serif;
    font-weight: 900;
    font-size: 20px;
}
.catalog-item_title h4 a:hover{
    opacity: 0.7;
}
.catalog-item_price{
    color: #673f35;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.catalog-item_basket{
    display: flex;
    justify-content: center;
}
.catalog-item_basket-field{
    display: flex;
    margin-right: 10px;
}
.catalog-item_basket-field_minus{
    background-color: #916b48;
    height: 42px;
    width: 36px;
    border: 0;
    color: #fff;
    font-weight: 900;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;   
}
.catalog-item_basket-field_plus{
    background-color: #916b48;
    height: 42px;
    width: 36px;
    border: 0;
    color: #fff;
    font-weight: 900;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.catalog-item_basket-field_input{
    background-color: #ba895c;
    border: 0;
    border-radius: 0;
    width: 48px;
    height: 40px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}
.catalog-item_basket-button{
    margin-left: 10px;
}
.catalog-item_basket-button button{
    background-color: #ce3a31;
    border: 0;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    height: 42px;
    padding: 0 15px;
    border-radius: 30px;
}
@media (min-width: 640px){
    .container{
        width: 100%;
    }    
    .col-item{
        width: 50%;
    } 
}
@media (min-width: 768px){
    .container{
        width: 100%;
    }    
    .col-item{
        width: 33.3333333%;
    } 
}
@media (min-width: 1200px){
    .container{
        width: 1200px;
    }    
    .col-item{
        width: 25%;
    } 
    .catalog-item:hover{
        background-color: #e8dccf;
    }
    .catalog-item_image img{
        transition-property: width;
        transition-duration: 0.5s;
    }
    .catalog-item:hover .catalog-item_image img{
        width: 80%;
    }
    .catalog-item_basket{
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.5s;
    }
    .catalog-item:hover .catalog-item_basket{
        opacity: 1;
    }
    .catalog-item{
        height: 340px;
    }
}

header{
    background: #f2ebe3;
}
.main-menu{
    padding-inline-start: 0px;
}
.main-menu > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-inline-start: 20px;
}
.main-menu > ul > li{
    
}
.main-menu > ul > li > a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #673f35;
    text-transform: uppercase;
    font-weight: bold;
    padding: 7px 20px;
    font-size: 20px;
    border-right: 3px solid transparent; 
}

.main-menu > ul > li.has_submenu:hover > a{
    border-right: 3px solid #ce3a31; 
}
.main-menu > ul > li > a > span{
    color: #dd7639;
    font-size: 14px;
}
.main-menu > ul > li > ul{
    display: none;
    position: fixed;
    margin: -70px 0 0 250px;
    list-style: none;
    padding: 20px;
    background-color: #f3ece5;
    z-index: 10000;
    box-shadow: 0 5px 6.8px 0.2px rgb(0 0 0 / 16%);
    width: 250px;
}
.main-menu > ul > li:hover > ul{
    display: block;
}
.main-menu > ul > li > ul > li + li{
    margin-top: 10px;
}
.main-menu > ul > li > ul > li > a{
    text-decoration: none;
    color: #673f35;
    text-transform: uppercase;
    font-weight: 600;
}