@font-face {
  font-family: "Gilroy";
  src: url(../../fonts/Gilroy-Light.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(../../fonts/Gilroy-ExtraBold.otf);
  font-weight: bold;
  font-style: normal;
}
html, body {
  font-family: "Gilroy", sans-serif;
}

.container {
  width: 1295px;
  position: relative;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
}
.header > div {
  display: flex;
  height: 90px;
  align-items: center;
}
.header__logo {
  border-left: 1px solid #C4C4C4;
  padding: 0 36px;
}
.header__tel {
  padding: 0 30px;
  border-left: 1px solid #C4C4C4;
}
.header__tel a {
  color: #000;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
.header__salons {
  padding: 0 30px;
  border-left: 1px solid #C4C4C4;
}
.header__salons a {
  color: #000;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  display: flex;
  align-content: center;
}
.header__salons a .arrow-down {
  margin-left: 15px;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url(../images/arrow-down.png);
}
.header__special {
  padding: 0 30px;
  border-left: 1px solid #C4C4C4;
}
.header__special a {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #00868A;
  color: #fff;
  padding: 10px 15px 8px;
  display: flex;
  align-items: center;
}
.header__special a .eye {
  width: 26px;
  height: 22px;
  display: inline-block;
  background-image: url(../images/eye.png);
  margin-right: 10px;
  background-repeat: no-repeat;
}
.header__social ul {
  list-style: none;
  display: flex;
  border-left: 1px solid #C4C4C4;
  margin: 0;
  padding: 0;
}
.header__social ul li {
  border-right: 1px solid #C4C4C4;
  padding: 0 24px;
  display: flex;
  height: 90px;
  align-items: center;
}
.header__social ul li a {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center center;
}
.header__social ul li a.vk {
  background-image: url(../images/vk.png);
}
.header__social ul li a.yt {
  background-image: url(../images/yt.png);
}
.header__social ul li a.fb {
  background-image: url(../images/fb.png);
}
.header__social ul li a.ig {
  background-image: url(../images/ig.png);
}

.service {
  width: 1920px;
  height: 700px;
  background-color: #4FBFA5;
  position: relative;
  margin: 0 auto;
}

.service__list {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-around;
}
.service__list__cosmetology a {
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: #fff;
}
.service__list__pl-surgery a {
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: #fff;
}
.service__list__dentistry a {
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: #fff;
}
.service__list__laser a {
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: #fff;
}
.service__list__contacts a {
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: #fff;
}
.service__list__reception a {
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: #000;
  padding: 9px 15px 10px;
  border: 1px solid #C4C4C4;
  background-color: #fff;
}

.service__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service__slider__info__header {
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  color: #fff;
}
.service__slider__info__text {
  width: 416px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #fff;
  margin: 20px 0;
}
.service__slider__info__more {
  margin: 40px 0;
}
.service__slider__info__more a {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 25px;
  background-color: #00868A;
  border: 1px solid #00868A;
}
.service__slider__info__button {
  display: flex;
  margin-left: 367px;
}
.service__slider__info__button__arrow {
  width: 120px;
  height: 50px;
  border: 1px solid #fff;
  display: flex;
}
.service__slider__info__button__arrow > .button__arrow_left {
  background-image: url(../images/arrow-left.png);
  width: 60px;
  height: 50px;
}
.service__slider__info__button__arrow > .button__arrow_right {
  background-image: url(../images/arrow-right.png);
  width: 60px;
  height: 50px;
}

.service__other {
  display: flex;
  height: 69px;
  align-items: center;
}
.service__other_complex {
  width: 50%;
}
.service__other_complex a {
  font-size: 21px;
  line-height: 32px;
  text-decoration: none;
  color: #fff;
  padding: 26px 199px;
  background-color: #00868A;
}
.service__other_education {
  width: 25%;
}
.service__other_education a {
  font-size: 21px;
  line-height: 32px;
  text-decoration: none;
  color: #fff;
  padding: 26px 82px;
  background-color: #4FBFA5;
}
.service__other_vip {
  width: 25%;
}
.service__other_vip a {
  font-size: 21px;
  line-height: 32px;
  text-decoration: none;
  color: #fff;
  padding: 26px 97px;
  background-color: #00868A;
}

.achievements-all {
  background-color: #fff;
  padding-top: 80px;
  display: flex;
}

.achievements {
  display: flex;
}

.achievements__innovation {
  width: 526px;
  background-color: #00868A;
  padding-top: 35px;
}
.achievements__innovation__button {
  width: 125px;
  background-color: #4FBFA5;
  margin: 0 30px 30px 40px;
  padding: 9px 15px;
  display: flex;
  justify-content: center;
}
.achievements__innovation__button > a {
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #fff;
}
.achievements__innovation__text {
  width: 485px;
  font-size: 30px;
  line-height: 150%;
  color: #fff;
  margin-left: 40px;
}
.achievements__innovation__more {
  width: 170px;
  display: flex;
  justify-content: space-between;
  margin: 25px 316px 45px 40px;
}
.achievements__innovation__more_arrow-right {
  background-image: url(../images/Frame-right.png);
  width: 50px;
  height: 40px;
  border: 1px solid #fff;
  background-repeat: no-repeat;
}
.achievements__innovation__more_more-text {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
  padding: 8px 0 8px 10px;
  text-transform: uppercase;
}
.achievements__innovation__picture {
  margin-top: 45px;
}

.achievements__beauty-aesthetics {
  width: 636px;
  background-color: #fff;
  background-image: url(../images/patent.png);
  background-position: 300px 50px;
  background-repeat: no-repeat;
  margin-left: 134px;
  padding-top: 30px;
}
.achievements__beauty-aesthetics__centers_button {
  width: 156px;
  background-color: #4FBFA5;
  padding: 9px 15px 10px 15px;
  text-align: center;
}
.achievements__beauty-aesthetics__centers_button > a {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-decoration: none;
}
.achievements__beauty-aesthetics__centers_list {
  margin: 30px 0;
}
.achievements__beauty-aesthetics__centers_list-grey {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}
.achievements__beauty-aesthetics__centers_list-grey .number {
  width: 50px;
  font-size: 48px;
  line-height: 72px;
  color: rgba(0, 0, 0, 0.25);
}
.achievements__beauty-aesthetics__centers_list-grey .meaning {
  width: 144px;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.25);
  margin: 13px;
}
.achievements__beauty-aesthetics__centers_list-green {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.achievements__beauty-aesthetics__centers_list-green .number-green {
  width: 100px;
  font-size: 96px;
  line-height: 150%;
  color: #00868A;
}
.achievements__beauty-aesthetics__centers_list-green .meaning-green {
  width: 319px;
  font-size: 28px;
  line-height: 150%;
  color: #000;
  margin: 30px;
}

.news-all {
  padding: 40px 0;
}

.news {
  display: flex;
}

.news__list {
  width: 526px;
  background-color: #4FBFA5;
}
.news__list_list-button {
  width: 101px;
  background-color: #00868A;
  padding: 10px 15px;
  margin: 35px 385px 30px 40px;
  display: flex;
  justify-content: center;
}
.news__list_list-button > a {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-decoration: none;
}
.news__list_news-1 {
  background-color: #00868A;
  padding: 35px 40px;
}
.news__list_news-1 > .news-1 {
  width: 446px;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  margin: 0;
  text-decoration: none;
}
.news__list_news-2 {
  padding: 35px 40px;
}
.news__list_news-2 > .news-2 {
  width: 446px;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  margin: 0;
  text-decoration: none;
}
.news__list_news-3 {
  padding: 35px 40px;
}
.news__list_news-3 > .news-3 {
  width: 446px;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  margin: 0;
  text-decoration: none;
}

.news__article {
  width: 770px;
  background-color: #e5e5e5;
}
.news__article_header {
  width: 650px;
  margin: 35px 60px 25px;
  color: #000;
}
.news__article_header > h3 {
  font-size: 24px;
  line-height: 150%;
  font-weight: bold;
}
.news__article_text {
  margin: 25px 60px 57px 60px;
}
.news__article_text > ul {
  list-style: none;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}
.news__article_text > ul > li {
  font-size: 14px;
  line-height: 150%;
  margin-top: 21px;
  position: relative;
}
.news__article_text > ul > li::before {
  content: "";
  position: absolute;
  background-image: url(../images/dot.png);
  width: 6px;
  height: 6px;
  top: 7px;
  left: -18px;
}

.special-offers-all {
  background-image: url(../images/bg-special-offers.png);
  background-repeat: repeat-x;
  padding-top: 80px;
}

.special-offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.special-offers__header > h2 {
  font-size: 48px;
  line-height: 150%;
  font-weight: bold;
  color: #00868A;
  margin: 0;
  padding-bottom: 60px;
}
.special-offers__blocks {
  display: flex;
  justify-content: space-between;
}
.special-offers__blocks__computer {
  background-image: url(../images/computer.jpg);
  margin: 0 12px;
  background-repeat: no-repeat;
  width: 306px;
  background-color: #00868A;
}
.special-offers__blocks__computer__button {
  width: 148px;
  background-color: #4FBFA5;
  padding: 10px 15px;
  margin: 31px 128px 159px 30px;
  display: flex;
  justify-content: center;
}
.special-offers__blocks__computer__button > a {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-decoration: none;
}
.special-offers__blocks__computer__bottom {
  display: flex;
}
.special-offers__blocks__computer__bottom_text {
  width: 181px;
  font-size: 21px;
  line-height: 150%;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin: 25px 15px 25px 30px;
}
.special-offers__blocks__computer__bottom_arrow {
  background-image: url(../images/Frame-right.png);
  width: 50px;
  height: 40px;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  margin: 35px 0px;
}
.special-offers__blocks__dentistry {
  background-image: url(../images/dentistry.jpg);
  margin: 0 12px;
  background-repeat: no-repeat;
  width: 306px;
  background-color: #00868A;
}
.special-offers__blocks__dentistry__button {
  width: 148px;
  background-color: #4FBFA5;
  padding: 10px 15px;
  margin: 31px 128px 159px 30px;
  display: flex;
  justify-content: center;
}
.special-offers__blocks__dentistry__button > a {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-decoration: none;
}
.special-offers__blocks__dentistry__bottom {
  display: flex;
}
.special-offers__blocks__dentistry__bottom_text {
  width: 181px;
  font-size: 21px;
  line-height: 150%;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin: 25px 15px 25px 30px;
}
.special-offers__blocks__dentistry__bottom_arrow {
  background-image: url(../images/Frame-right.png);
  width: 50px;
  height: 40px;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  margin: 35px 0px;
}
.special-offers__blocks__laboratory {
  background-image: url(../images/laboratory.jpg);
  margin: 0 12px;
  background-repeat: no-repeat;
  width: 306px;
  background-color: #00868A;
}
.special-offers__blocks__laboratory__button {
  width: 148px;
  background-color: #4FBFA5;
  padding: 10px 15px;
  margin: 31px 128px 159px 30px;
  display: flex;
  justify-content: center;
}
.special-offers__blocks__laboratory__button > a {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-decoration: none;
}
.special-offers__blocks__laboratory__bottom {
  display: flex;
}
.special-offers__blocks__laboratory__bottom_text {
  width: 181px;
  font-size: 21px;
  line-height: 150%;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin: 25px 15px 25px 30px;
}
.special-offers__blocks__laboratory__bottom_arrow {
  background-image: url(../images/Frame-right.png);
  width: 50px;
  height: 40px;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  margin: 35px 0px;
}
.special-offers__blocks__surgery {
  background-image: url(../images/surgery.jpg);
  margin: 0 12px;
  background-repeat: no-repeat;
  width: 306px;
  background-color: #00868A;
}
.special-offers__blocks__surgery__button {
  width: 148px;
  background-color: #4FBFA5;
  padding: 10px 15px;
  margin: 31px 128px 159px 30px;
  display: flex;
  justify-content: center;
}
.special-offers__blocks__surgery__button > a {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-decoration: none;
}
.special-offers__blocks__surgery__bottom {
  display: flex;
}
.special-offers__blocks__surgery__bottom_text {
  width: 181px;
  font-size: 21px;
  line-height: 150%;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin: 25px 15px 25px 30px;
}
.special-offers__blocks__surgery__bottom_arrow {
  background-image: url(../images/Frame-right.png);
  width: 50px;
  height: 40px;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  margin: 35px 0px;
}

footer {
  background-color: #fff;
  padding-top: 100px;
}

.footer__info {
  width: 100%;
  display: flex;
  padding-bottom: 80px;
}
.footer__info__services {
  width: 77%;
  display: flex;
  flex-wrap: wrap;
}
.footer__info__services__card {
  width: 33.3333333%;
}
.footer__info__services__card_header {
  font-size: 21px;
  line-height: 150%;
  font-weight: bold;
  color: #000;
}
.footer__info__services__card_list ul {
  list-style-type: none;
  padding: 0px;
}
.footer__info__services__card_list ul li {
  margin-bottom: 15px;
}
.footer__info__services__card_list ul li a {
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  color: #000;
}
.footer__info__contacts {
  width: 23%;
}
.footer__info__contacts_head {
  font-size: 11px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000;
  opacity: 0.5;
  margin-bottom: 10px;
}
.footer__info__contacts_phone {
  margin-bottom: 30px;
}
.footer__info__contacts_phone > a {
  font-size: 21px;
  line-height: 150%;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
.footer__info__contacts__address address {
  font-size: 21px;
  line-height: 150%;
  font-weight: bold;
  font-style: normal;
  color: #000;
  margin-bottom: 15px;
}
.footer__info__contacts__address_button {
  width: 164px;
  background-color: #00868A;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.footer__info__contacts__address_button a {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 15px 25px;
}

.footer__last-row {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #C4C4C4;
}
.footer__last-row > div {
  display: flex;
  height: 90px;
  align-items: center;
}
.footer__last-row__copyright {
  width: 300px;
  font-size: 12px;
  line-height: 150%;
  color: #000;
  padding: 20px 25px 16px;
}
.footer__last-row__private {
  width: 178px;
  border-right: 1px solid #C4C4C4;
  padding: 0 71px 0 45px;
}
.footer__last-row__private a {
  font-size: 12px;
  line-height: 150%;
  color: #000;
}
.footer__last-row__special {
  padding: 0 30px;
}
.footer__last-row__special a {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #00868A;
  color: #fff;
  padding: 10px 15px 8px;
  display: flex;
  align-items: center;
}
.footer__last-row__special a .eye {
  width: 26px;
  height: 22px;
  display: inline-block;
  background-image: url(../images/eye.png);
  margin-right: 10px;
  background-repeat: no-repeat;
}
.footer__last-row__social ul {
  list-style: none;
  display: flex;
  border-left: 1px solid #C4C4C4;
  margin: 0;
  padding: 0;
}
.footer__last-row__social ul li {
  border-right: 1px solid #C4C4C4;
  padding: 0 24px;
  display: flex;
  height: 90px;
  align-items: center;
}
.footer__last-row__social ul li:last-child {
  border: none;
}
.footer__last-row__social ul li a {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center center;
}
.footer__last-row__social ul li a.vk {
  background-image: url(../images/vk.png);
}
.footer__last-row__social ul li a.yt {
  background-image: url(../images/yt.png);
}
.footer__last-row__social ul li a.fb {
  background-image: url(../images/fb.png);
}
.footer__last-row__social ul li a.ig {
  background-image: url(../images/ig.png);
}/*# sourceMappingURL=style.css.map */