.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
}

.header__logo {
    width: 200px;
    padding: 0 70px;
}

.header__menu {
    width: 558px;
    padding: 58px 132px;

    ul {
        width: 558px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 0;

        li {
            a {
                font-size: 20px;
                line-height: 25px;
                font-weight: 400;
                text-decoration: none;
                color: $black;
                margin-right: 50px;
            }
             a:nth-last-child(1) {
                margin-right: 0;
            }
        }   
    } 
}

.header__lang {
    width: 65px;
    
    
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: space-between;
        padding-inline-start: 0;
        
        > li > a {
            font-size: 18px;
            line-height: 130%;
            font-weight: 400;
            color: $black;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            padding: 2px;
        }

        .header__lang_en {
            border-right: 1px solid $black;
            list-style: none;
            padding-right: 2px;
        }
    }
}

.header__button {
    width: 240px;
    display: flex;
    justify-content: center;
    background-color: $coral;
    padding: 22px 43.5px;

    a {
        font-size: 18px;
        line-height: 23px;
        font-weight: 400;
        color: $white;
        text-decoration: none;
    }
}