.projects-all {
    background-color: $white;
    padding: 160px 0;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects__text {
    display: flex;
    flex-direction: column;
    width: 413px;

    &_header {
        margin-bottom: 30px;

        > h2 {
            text-transform: uppercase;
            margin: 0;

            span {
                color: $coral;
            }
        }
    }

    &_meaning {
        margin-bottom: 30px;

        > p {
            font-weight: 400;
            font-size: 24px;
            line-height: 150%;
            letter-spacing: 0.01em;
            margin: 0;
        }
    }

    &_button {
        width: 291px;
        @include button-arrow
    }
}
.projects__cards {
    width: 1270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__mobile-tracker {
       @include project-cards;
    }

    &__univer-today {
        @include project-cards;
    }

    &__study-blog {
        @include project-cards;
    }
}