.block{
    width: 400px;
    height: 400px;
    background: #000;
    position: fixed;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -200px;
}
.inner {
    width: 100px;
    height: 100px;
    background: rgb(186, 23, 153);
    color: #fff;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    position: relative;
    float: left;
}

.ml100{
    margin: 0 0 0 100px;
}

.mr200{
    margin: 0 200px 0 0;
}