.cl-1{
    background-color: #dc5c5c;
}
.cl-2{
    background-color: #dc143c;
}
.cl-3{
    background-color: #8b0000;
}
.cl-4{
    background-color: #ffc0cb;
}
.cl-5{
    background-color: #ff69b4;
}
.cl-6{
    background-color: #c71585;
}
.cl-7{
    background-color: #adff2f;
}
.cl-8{
    background-color: #00ff00;
}
.cl-9{
    background-color: #32cd32;
}
.cl-10{
    background-color: #00fa9a;
}
.cl-11{
    background-color: #2e8b57;
}
.cl-12{
    background-color: #006400;
}
.cl-13{
    background-color: #9acd32;
}
.cl-14{
    background-color: #808000;
}
.cl-15{
    background-color: #66cdaa;
}
.cl-16{
    background-color: #556b2f;
}
.cl-17{
    background-color: #008080;
}
.cl-18{
    background-color: #ffa07a;
}
.cl-19{
    background-color: #ff4500;
}
.cl-20{
    background-color: #ffa500;
}
.cl-21{
    background-color: #bc8f8f;
}
.cl-22{
    background-color: #f4a460;
}
.cl-23{
    background-color: #d2691e;
}
.cl-24{
    background-color: #8b4513;
}
.cl-25{
    background-color: #a52a2a;
}
.cl-26{
    background-color: #800000;
}