.block{
    width: 400px;
    height: 400px;
    background: #000;
    position: fixed;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -200px;
}

.inner{
    width: 100px;
    height: 100px;
    background: rgb(235, 65, 173);
    color: #fff;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    position: relative;
}

.inner1{
    margin: 400px 400px 0 400px;
}

.inner2{
    margin: -100px -100px 0 -100px;
}

.inner3{
  margin: -600px 400px 0 400px;
}

.inner4{
    margin: -100px -100px 0 -100px;
}