.block{
    width: 400px;
    height: 400px;
    background: #000;
    position: fixed;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -200px;
}

.inner{
    width: 100px;
    height: 100px;
    background: rgb(235, 65, 173);
    color: #fff;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    position: absolute;
}

.inner4{
    top: -100px;
    left: -100px;
}

.inner3{
    top: -100px;
    left: 400px;
}

.inner2{
    top: 400px;
    left: -100px;
}

.inner1{
    top: 400px;
    left: 400px;
}