$yellow: #FFCD42;
$white: #FFFFFF;
$black: #333333;
$infocolor: rgba(0,0,0,0.5);
$formcolor: #000000;
$border: #D8D8D8;

html, body{
    font-family: 'Poppins', sans-serif;
    background-color: $black;
    scroll-behavior: smooth;
}
