table{
    border-spacing: 0ch;
    border-collapse: collapse;
    
}

td{
    width: 200px;
    height: 100px;
    border: 7px solid #000;
    background: rgb(175, 45, 45);
    font-size: 40px;
    color: #fff;
}

tr:nth-child(1){
    text-align: left;
}

tr:nth-child(2){
    text-align: center;
}

tr:nth-child(3){
    text-align: right;
}

td:nth-child(1){
    vertical-align: top;
}

td:nth-child(2){
    vertical-align: middle;
}

td:nth-child(3){
    vertical-align: bottom;
}